<%inherit file="layout.html" />

## provide definitions for blocks we want to redefine
<%def name="title()">
    Summary of your KB
</%def>

## now define the body of the template

<h1>Summary</h1>
<h2>Overview of Original Knowledge</h2>
<ul>
  <li>Number of original assertions.</li>
  <li>Number of concepts.</li>
  <li>Number of features.</li>
  <li>Distribution of concept frequency.</li>
  <li>Sparsity.</li>
</ul>

<h2>Overview of Inference Results</h2>
<ul>
  <li>Accuracy over original assertions.</li>
</ul>
