<%inherit file="layout.html" />

## provide definitions for blocks we want to redefine
<%def name="title()">
    Explore Your KB
</%def>

<%def name="javascript()">
  <script type="text/javascript" src="js/main.js"></script>
</%def>

<%def name="style()">
  <link rel="stylesheet" type="text/css" href="css/celestrium.css">
</%def>

## now define the body of the template

<h1>Explore</h1>
<div id="seed-forms">
  <select id="seed-type">
    <option value="similar">Find similar things to</option>
    <option value="compliment">Fill in the blanks to</option>
  </select>
  <input id="concept1" class="concept-input" />
  <input id="relation" class="relation-input" />
  <input id="concept2" class="concept-input" />
  <button id="btn-explore">Explore</button>
</div>

<div id="workspace">
</div>
