<%inherit file="layout.html" />

## provide definitions for blocks we want to redefine
<%def name="title()">
    Summary of your KB
</%def>

## now define the body of the template

<h1>Summary</h1>
<h2>Overview of Original Knowledge</h2>
<ul>
  <li>Number of original assertions: ${num_assertions}</li>
  <li>Number of concepts: ${num_concepts}</li>
  <li>Number of features: ${num_features}</li>
</ul>

<h1>Edit - TODO</h1>
<form method="POST" action="/add">
  <h2>New Assertions</h2>
  <textarea id="assertions" name="assertions"></textarea>
  <input disabled="disabled" type="submit" value="Save" />
</form>

<form method="POST" action="/clear">
  <input disabled="disabled" type="submit" value="Assertions" />
</form>
